In [2]:
import pandas as pd
import numpy as np

In [10]:
gold = pd.read_csv('daily_gold_rate.csv', index_col=0)

In [12]:
gold = gold[['USD']]
gold

                USD
Date
1985-01-01   308.30
1985-01-02   305.50
1985-01-03   302.30
1985-01-04   303.15
1985-01-07   298.25
...             ...
2022-05-23  1856.20
2022-05-24  1867.10
2022-05-25  1847.20
2022-05-26  1848.25
2022-05-27  1851.80

[9759 rows x 1 columns]