## Merge all data

In [1]:
import pandas as pd
import numpy as np

In [2]:
energy_df = pd.read_csv('energy_data.csv', index_col=0)
new_sp_df = pd.read_csv('sp500_news_data.csv', index_col=0)
gold_df = pd.read_csv('daily_gold_rate.csv', index_col=0)
# historic_df = pd.read_csv('HistoricalPrices.csv', index_col=0)

In [3]:
new_sp_df

,date,Open,High,Low,Close,Volume,up/down,Sentiment,true_value
0,1980-01-02,-1.157349,-1.064447,-1.065108,-1.066003,-0.960949,1.0,-0.632982,-1.0
1,1980-01-03,-1.157349,-1.066807,-1.067169,-1.066548,-0.955609,1.0,-0.547975,1.0
2,1980-01-07,-1.157349,-1.065080,-1.064590,-1.064943,-0.958844,1.0,-0.766564,1.0
3,1980-01-08,-1.157349,-1.063584,-1.064093,-1.062783,-0.954035,1.0,-1.139702,1.0
4,1980-01-09,-1.157349,-1.061777,-1.061940,-1.062682,-0.947613,1.0,-1.267481,1.0
...,...,...,...,...,...,...,...,...,...
10664,2022-05-23,2.769766,2.824832,2.796829,2.837995,0.852602,1.0,-0.469044,-1.0
10665,2022-05-24,2.793333,2.798525,2.762400,2.805425,1.127906,-1.0,-0.533289,1.0
10666,2022-05-25,2.779956,2.842354,2.813063,2.843022,1.355428,1.0,-0.645402,1.0
10667,2022-05-26,2.835074,2.918473,2.873545,2.922868,1.160529,1.0,-0.683530,1.0
10668,2022-05-27,2.928087,3.002164,2.967795,3.024203,0.943378,1.0,-0.616457,-1.0

In [4]:
energy_df.rename(columns={"Date": "date"},inplace=True)

In [5]:
energy_df

            date  NY_cgas  US_cgas  WTI_crude_oil  NY_hoil
0     1986-06-02    0.468    0.445          13.80    0.402
1     1986-06-03    0.436    0.418          13.35    0.393
2     1986-06-04    0.418    0.398          13.15    0.378
3     1986-06-05    0.431    0.415          13.21    0.390
4     1986-06-06    0.421    0.403          12.73    0.385
...          ...      ...      ...            ...      ...
9039  2022-05-24    3.849    3.794         112.55    3.911
9040  2022-05-25    3.898    3.843         112.88    3.994
9041  2022-05-26    3.927    3.887         116.19    3.961
9042  2022-05-27    4.102    4.027         114.96    3.902
9043  2022-05-31    4.110    3.947         114.38    3.909

[9044 rows x 5 columns]

In [6]:
gold_df = gold_df[['USD']]
gold_df

                USD
Date
1985-01-01   308.30
1985-01-02   305.50
1985-01-03   302.30
1985-01-04   303.15
1985-01-07   298.25
...             ...
2022-05-23  1856.20
2022-05-24  1867.10
2022-05-25  1847.20
2022-05-26  1848.25
2022-05-27  1851.80

[9759 rows x 1 columns]

In [6]:
#merge data
df = pd.merge(energy_df,new_sp_df, on="date", how="outer")
df

,date,NY_cgas,US_cgas,WTI_crude_oil,Brent_crude_oil,NY_diesel,US__diesel,LA_diesel,LA_gas,NY_hoil,US_jet_fuel,TX_propane,Open,High,Low,Close,Volume,up/down,Sentiment,true_value
0,2006-06-14,1.962,2.034,69.12,65.52,2.104,2.152,2.244,2.276,1.889,2.079,1.091,0.068713,0.063172,0.065933,0.068743,0.460489,1.0,1.190048,1.0
1,2006-06-15,1.987,2.033,69.78,66.04,2.105,2.145,2.220,2.297,1.895,2.085,1.091,0.075076,0.090463,0.076817,0.095106,0.518642,1.0,1.158031,-1.0
2,2006-06-16,1.952,1.996,69.75,65.01,2.088,2.085,2.203,2.323,1.868,2.048,1.093,0.101277,0.088083,0.093387,0.090443,0.522922,-1.0,1.130272,-1.0
3,2006-06-19,1.941,2.006,69.21,66.40,2.041,2.021,2.168,2.286,1.828,1.983,1.086,0.096648,0.087742,0.084086,0.078927,0.378910,-1.0,1.222131,-1.0
4,2006-06-20,1.956,2.021,69.30,67.57,2.048,2.028,2.153,2.296,1.836,1.991,1.083,0.085206,0.080794,0.085813,0.078917,0.225128,0.0,1.184609,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,2021-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.647556,3.653344,3.681153,3.658160,0.216526,-1.0,-0.012596,1.0
10680,2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.627237,3.633072,3.666644,3.637802,0.340493,-1.0,0.062014,1.0
10681,2022-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.585505,3.590197,3.549418,3.529655,0.932163,-1.0,0.042920,1.0
10682,2022-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.236892,3.255013,3.265145,3.259826,0.915668,1.0,-0.473563,1.0
10683,2022-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.981371,3.013530,2.952646,3.021316,1.437591,1.0,-0.444360,1.0

In [7]:
#drop NAN rows
df = df.dropna().reset_index(drop=True)
df

,date,NY_cgas,US_cgas,WTI_crude_oil,Brent_crude_oil,NY_diesel,US__diesel,LA_diesel,LA_gas,NY_hoil,US_jet_fuel,TX_propane,Open,High,Low,Close,Volume,up/down,Sentiment,true_value
0,2006-06-14,1.962,2.034,69.12,65.52,2.104,2.152,2.244,2.276,1.889,2.079,1.091,0.068713,0.063172,0.065933,0.068743,0.460489,1.0,1.190048,1.0
1,2006-06-15,1.987,2.033,69.78,66.04,2.105,2.145,2.220,2.297,1.895,2.085,1.091,0.075076,0.090463,0.076817,0.095106,0.518642,1.0,1.158031,-1.0
2,2006-06-16,1.952,1.996,69.75,65.01,2.088,2.085,2.203,2.323,1.868,2.048,1.093,0.101277,0.088083,0.093387,0.090443,0.522922,-1.0,1.130272,-1.0
3,2006-06-19,1.941,2.006,69.21,66.40,2.041,2.021,2.168,2.286,1.828,1.983,1.086,0.096648,0.087742,0.084086,0.078927,0.378910,-1.0,1.222131,-1.0
4,2006-06-20,1.956,2.021,69.30,67.57,2.048,2.028,2.153,2.296,1.836,1.991,1.083,0.085206,0.080794,0.085813,0.078917,0.225128,0.0,1.184609,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,2022-05-23,3.857,3.690,110.32,115.13,3.964,3.594,3.974,3.922,3.894,3.517,1.198,2.769766,2.824832,2.796829,2.837995,0.852602,1.0,-0.469044,-1.0
3963,2022-05-24,3.849,3.794,112.55,115.77,3.981,3.721,3.973,3.929,3.911,3.636,1.198,2.793333,2.798525,2.762400,2.805425,1.127906,-1.0,-0.533289,1.0
3964,2022-05-25,3.898,3.843,112.88,116.41,4.064,3.834,3.998,4.122,3.994,3.741,1.198,2.779956,2.842354,2.813063,2.843022,1.355428,1.0,-0.645402,1.0
3965,2022-05-26,3.927,3.887,116.19,119.81,4.031,3.938,4.123,4.143,3.961,3.823,1.198,2.835074,2.918473,2.873545,2.922868,1.160529,1.0,-0.683530,1.0
3966,2022-05-27,4.102,4.027,114.96,121.19,4.022,3.959,4.257,4.314,3.902,3.852,1.198,2.928087,3.002164,2.967795,3.024203,0.943378,1.0,-0.616457,-1.0

In [8]:
#save dataframe
df.to_csv('cleaned_data.csv')